body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

#contenedor-formulario {
    background-color: #000033;
    color: #00CCFF
}







