body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#contenedor-padre {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
}


